@model AuthNet.UI.Models.DTO.TaxSettingViewModel

@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    ViewData["Title"] = "User Management";
}


<div class="row">
    <div class="col-md-12">
        @Html.Partial("_UserMgmtCard", Model)
    </div>
</div>
