@model AuthNet.UI.Models.DTO.ProfileViewModel
@{
    ViewData["Title"] = "My Profile";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-6 mx-auto">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">My Profile</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-action="UpdateProfile">Edit Profile</a>
                            <a class="dropdown-item" asp-action="ChangePassword">Change Password</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <dl class="row mb-0">
                        <dt class="col-sm-4 font-weight-bold">Username</dt>
                        <dd class="col-sm-8">@Model.Username</dd>
                        <dt class="col-sm-4 font-weight-bold">Role</dt>
                        <dd class="col-sm-8">@Model.Role</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>