@model AuthNet.UI.Models.DTO.CompanyInfoViewModel

@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    ViewData["Title"] = "Company Info";
}


<div class="row">
    <div class="col-md-9">
        @Html.Partial("_CompanyInfoCard", Model)
    </div>
</div>
