@model AuthNet.UI.Models.DTO.TaxSettingViewModel

@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    ViewData["Title"] = "Tax Settings";
}


<div class="row">
    <div class="col-md-7">
        @Html.Partial("_TaxSettingsCard", Model)
    </div>
</div>
