<div class="col-md-3 bg-light border-end" style="min-height: 100vh;">
    <h5 class="mt-3 ps-3">Settings</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Company")">Company Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "TaxSettings")">Tax Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Users")">User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Templates")">Templates</a>
        </li>
    </ul>
</div>
