@model AuthNet.UI.Models.DTO.TaxSettingViewModel

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Tax Settings</h6>
        <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="companyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="companyDropdown">
                <a class="dropdown-item" asp-controller="TaxSettings" asp-action="Edit">Edit</a>
                <a class="dropdown-item" asp-controller="TaxSettings" asp-action="Add">Add</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <dl class="row mb-0">
                <dt class="col-sm-4 font-weight-bold">CGST</dt>
                <dd class="col-sm-8">@Model.CGST</dd>
                <dt class="col-sm-4 font-weight-bold">SGST</dt>
                <dd class="col-sm-8">@Model.SGST</dd>
                <dt class="col-sm-4 font-weight-bold">IGST</dt>
                <dd class="col-sm-8">@Model.IGST</dd>
            </dl>
        }
        else
        {
            <p class="mb-0">No tax settings available.</p>
        }
    </div>
</div>
