@using AuthNet.UI.Models.DTO
@model AddInvoiceTemplateViewModel

@{
    ViewData["Title"] = "Add Invoice Template";
}

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card o-hidden border-0 shadow-lg my-4">
                <div class="card-body p-0">
                    <div class="p-4">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-3"><i class="bi bi-clipboard me-1"></i> Add Invoice Template</h1>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <form method="post" asp-action="Add" id="templateForm" class="user">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input asp-for="Layout" class="form-control form-control-user" placeholder="Enter Layout Name...">
                                <span asp-validation-for="Layout" class="text-danger small"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Notes" class="form-control form-control-user" placeholder="Enter Notes...">
                                <span asp-validation-for="Notes" class="text-danger small"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="TermsAndConditions" class="form-control form-control-user" placeholder="Enter Terms & Conditions...">
                                <span asp-validation-for="TermsAndConditions" class="text-danger small"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-user btn-block" type="submit">Save</button>
                                <a asp-controller="Templates" asp-action="Index" class="btn btn-secondary btn-user btn-block">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}