@model List<AuthNet.UI.Models.DTO.UiTemplateVm>

@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    ViewData["Title"] = "Templates";
}


<div class="row">
    <div class="col-md-12">
        @Html.Partial("_TemplatesCard", Model)
    </div>
</div>
